.underline-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.underline-hover::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: white;
  transition: width 0.3s ease;
}

.underline-hover:hover::after {
  width: 100%;
}